body {
    background-color: #FCF4ED;
    color: black
}
header {
    background-color: #234154;
    color: #96ACB5;
}
footer {
    background-color: #234154;
    color: #96ACB5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.plant {
    border: 5px solid #A35103;
    /* background-image: url(TO BE ADDED); */
}
.plant:hover {
    background-color: #fcf4ed;
    color: black
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}