* {
    margin: 0em;
}

body {
    background-color: #FCF4ED;
    color: black
}

header {
    background-color: #234154;
    color: #96ACB5;
    display: flex;
    flex-direction: row;  
}

footer {
    background-color: #234154;
    color: #96ACB5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #96ACB5;
    text-decoration: none;
}

.buttonContainer {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.headerButton {
    background-color: #234154;
    color: #96ACB5;
    border: 2px solid #96ACB5;
    padding: 1em 3em 1em 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.plant {
    border: 5px solid #A35103;
    /* background-image: url(TO BE ADDED); */
}

.plant:hover {
    background-color: #fcf4ed;
    color: black
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
/* ============= */
/* FOOTER STYLES */
/* ============= */
/* Footer div was given the className="footer" */

.footer {
    background-color: #234154;
    color: #96ACB5;
}



